/************************************************/
/************** WE DOING SECTION  ***************/
/************************************************/
.section-what-are-we-doing {
  padding: 16px 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.we-doing-heading {
  color: #0000fe;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 200px;
}

.we-doing-description {
  font-weight: 500;
  font-size: 16px;
  align-self: flex-start;
  margin-left: 200px;
  margin-bottom: 36px;
  word-spacing: 0.1px;
  line-height: 1.2;
}

/************************************************/
/************** MEDIA QUERIES  ***************/
/************************************************/
@media only screen and (max-width: 1238px) {
  .section-what-are-we-doing {
    margin: 0;
  }
}

@media only screen and (max-width: 1132px) {
  .section-what-are-we-doing {
    padding: 16px;
  }

  .we-doing-heading {
    font-size: 28px;
  }

  .we-doing-description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 938px) {
  .section-what-are-we-doing {
    padding: 0;
  }

  .we-doing-heading {
    font-size: 20px;
    margin-left: 128px;
  }

  .we-doing-description {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 128px;
  }
}

@media only screen and (max-width: 576px) {
  .section-what-are-we-doing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-what-are-we-doing {
    padding-top: 96px;
  }

  .we-doing-heading {
    font-size: 16px;
    margin-left: 0px;
    align-self: center;
    margin-top: 64px;
  }

  .we-doing-description {
    font-size: 12px;
    margin-left: 0px;
    align-self: center;
    text-align: center;
    padding-bottom: 36px;
  }
}

@media only screen and (max-width: 450px) {
  .section-what-are-we-doing {
    padding-top: 0;
  }
}
