/************************************************/
/************** WORKFLOW SECTION  ***************/
/************************************************/
.section-workflow {
  padding: 16px 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workflow-heading {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.workflow-description {
  color: #0000fe;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 0 96px;
  line-height: 1.2;
}

.workflow-container {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.full-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-box {
  width: 150px;
  height: 150px;
  background-color: #0000fe;
  border-radius: 16px;
}

.video-heading {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
}

.desc-2 {
  margin-top: 64px;
}

.margin-right {
  margin-right: -24px;
}

/************************************************/
/************** MEDIA QUERIES  ***************/
/************************************************/
@media only screen and (max-width: 1132px) {
  .video-box {
    max-width: 130px;
    max-height: 130px;
    background-color: #0000fe00;
  }

  .video-box video {
    width: 100%;
  }

  .workflow-heading {
    font-size: 28px;
  }

  .workflow-description {
    font-size: 20px;
  }
}

@media only screen and (max-width: 938px) {
  .workflow-heading {
    font-size: 20px;
  }

  .workflow-description {
    font-size: 16px;
  }

  .video-box {
    max-width: 110px;
    max-height: 110px;
  }
}

@media only screen and (max-width: 758px) {
  .workflow-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .section-workflow {
    margin: 0;
  }

  .workflow-heading {
    font-size: 20px;
  }

  .workflow-description {
    font-size: 16px;
    padding: 0;
    width: 300px;
  }
}

@media only screen and (max-width: 450px) {
  .workflow-container {
    gap: 24px;
  }
}
