/************************************************/
/************** MEDIA QUERIES  ***************/
/************************************************/
@media only screen and (max-width: 1528px) {
  .main-heading {
    font-size: 36px;
    line-height: 1;
    padding-top: 48px;
  }

  .hero-section {
    height: 1400px;
  }

  .blog-img-box {
    max-width: 350px;
    max-height: 218px;
  }

  .blog-img-box img {
    width: 100%;
  }

  .nichateau-description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1132px) {
  .main-heading {
    font-size: 28px;
  }

  .hero-section {
    height: 800px;
  }

  .section-what-are-we-doing {
    padding: 16px;
  }

  .we-doing-heading {
    font-size: 28px;
  }

  .we-doing-description {
    font-size: 14px;
  }

  .video-box {
    max-width: 130px;
    max-height: 130px;
    background-color: #0000fe00;
  }

  .video-box video {
    width: 100%;
  }

  .workflow-heading {
    font-size: 28px;
  }

  .workflow-description {
    font-size: 20px;
  }

  .blog-img-box {
    max-width: 250px;
    max-height: 156px;
  }

  .blog-heading {
    font-size: 12px;
  }

  .nichateau-container {
    grid-template-columns: 60fr 40fr;
  }

  .nichateau-heading {
    font-size: 24px;
  }

  .nichateau-description {
    font-size: 12px;
  }

  .see-more {
    font-size: 20px;
  }

  .about-heading {
    font-size: 24px;
  }

  .about-description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 938px) {
  .hero-section {
    margin-top: 36px;
  }

  .section-what-are-we-doing {
    padding: 0;
  }

  .we-doing-heading {
    font-size: 20px;
    margin-left: 128px;
  }

  .we-doing-description {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 128px;
  }

  .workflow-heading {
    font-size: 20px;
  }

  .workflow-description {
    font-size: 16px;
  }

  .video-box {
    max-width: 110px;
    max-height: 110px;
  }

  .partners-heading {
    font-size: 28px;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
  }

  .partners-section {
    margin: 0;
    height: 1200px;
  }

  .blog-section {
    padding: 0;
  }

  .blogs-heading {
    font-size: 28px;
    margin-top: 64px;
  }

  .blog-container {
    padding-top: 16px;
  }

  .blog-img-box {
    max-width: 220px;
    max-height: 136px;
  }

  .blog-heading {
    font-size: 10px;
  }

  .nichateau-heading {
    font-size: 20px;
  }

  .nichateau-description {
    font-size: 8px;
  }

  .see-more {
    font-size: 16px;
  }
}

@media only screen and (max-width: 758px) {
  .main-heading {
    font-size: 20px;
  }

  .workflow-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-img-box {
    max-width: 200px;
    max-height: 116px;
  }

  .blog-heading {
    font-size: 8px;
  }

  .about-section {
    padding: 24px 32px 32px 32px;
  }

  .about-description {
    padding: 16px 36px 16px 0;
  }

  .about-heading {
    font-size: 20px;
  }

  .about-description {
    font-size: 12px;
  }
}

@media only screen and (max-width: 712px) {
  .blog-container {
    grid-template-columns: 1fr 1fr;
  }

  .single-blog-3 {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 576px) {
  .hero-section {
    height: 500px;
  }

  .section-what-are-we-doing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-what-are-we-doing {
    padding-top: 96px;
  }

  .we-doing-heading {
    font-size: 16px;
    margin-left: 0px;
    align-self: center;
  }

  .we-doing-description {
    font-size: 12px;
    margin-left: 0px;
    align-self: center;
    text-align: center;
    padding-bottom: 36px;
  }

  .section-workflow {
    margin: 0;
  }

  .workflow-heading {
    font-size: 20px;
  }

  .workflow-description {
    font-size: 16px;
    padding: 0;
  }

  .partners-section {
    height: 700px;
  }

  .partners-heading {
    top: 10%;
  }

  .about-description {
    font-size: 10px;
    padding: 0;
  }

  .nichateau-section {
    padding: 36px;
  }

  .nichateau-description {
    font-size: 8px;
  }

  .nichateau-heading,
  .nichateau-sub-heading {
    font-size: 12px;
  }

  .about-img-box img {
    width: 80%;
  }

  .about-container {
    gap: 0;
  }

  .about-heading {
    font-size: 14px;
  }
}

@media only screen and (max-width: 540px) {
  .main-heading {
    font-size: 16px;
  }

  .nichateau-description {
    padding: 0;
  }

  .hero-section {
    height: 400px;
  }

  .blog-container {
    grid-template-columns: 1fr;
  }

  .partners-heading {
    font-size: 16px;
  }

  .blog-heading {
    font-size: 16px;
  }

  .single-blog-3 {
    grid-column: 1;
  }
}
