/************************************************/
/************** ABOUT SECTION  ******************/
/************************************************/
.about-section {
  padding: 24px 96px 96px 96px;
  margin-top: 96px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  place-items: center;
}

.about-img-box {
  border-radius: 16px;
}

.about-img-box img {
  width: 100%;
  border-radius: 16px;
}

.about-heading {
  text-transform: uppercase;
  text-align: start;
  font-weight: 700;
  font-size: 32px;
}

.about-description {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 96px 16px 0;
  text-align: start;
}

/************************************************/
/************** MEDIA QUERIES  ***************/
/************************************************/
@media only screen and (max-width: 1380px) {
  .about-container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 1132px) {
  .about-heading {
    font-size: 24px;
  }

  .about-description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 758px) {
  .about-section {
    padding: 24px 32px 32px 32px;
  }

  .about-description {
    padding: 16px 36px 16px 0;
  }

  .about-heading {
    font-size: 20px;
  }

  .about-description {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .about-description {
    font-size: 10px;
    padding: 0;
  }

  .about-img-box img {
    width: 80%;
  }

  .about-container {
    gap: 0;
  }

  .about-heading {
    font-size: 14px;
  }
}
