.academy-courses-hero-section {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.courses-hero-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 36px;
}

.courses-category-heading {
  z-index: 9;
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.courses-category-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.courses-category-heading:hover::after {
  width: 100%;
}

/************************************************/
/********* MEDIA QUERIES  *********/
/************************************************/
@media only screen and (max-width: 1380px) {
  .academy-courses-hero-section {
    overflow: hidden;
    margin: 0;
  }

  .academy-main-courses-section {
    margin-top: -48px !important;
  }

  .academy-masterclass-main {
    margin-top: 48px !important;
  }

  .masterclass-card {
    height: 450px !important;
  }

  .all-masterclass-btn {
    margin-bottom: 48px !important;
  }
}

@media only screen and (max-width: 1232px) {
  .masterclass-card {
    height: 310px !important;
  }

  .courses-category-heading,
  .academy-courses-heading {
    font-size: 24px;
  }
}

@media only screen and (max-width: 810px) {
  .masterclass-card {
    height: 270px !important;
  }

  #meta .contact-form-section {
    padding: 16px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 560px) {
  .courses-category-heading,
  .academy-courses-heading {
    font-size: 18px;
  }
}

@media only screen and (max-width: 420px) {
  .courses-category-heading {
    font-size: 14px;
  }
}
