.academy-hero-section {
  position: relative;
}

.academy-hero-container {
  display: flex;
}

.academy-hero-img {
  z-index: 99;
  width: 50%;
}

.single-meta-img {
  height: 900px;
}

.academy-hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
  z-index: 99;
}

.academy-hero-heading {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2;
}

.academy-hero-subheading {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  color: #f8fa01;
}

.academy-swiper,
.academy-swiper-slide {
  margin: 0;
  padding: 0;
}

.academy-hero-section .swiper-button-next,
.academy-hero-section .swiper-button-prev {
  position: absolute;
  top: 50% !important;
  padding: 24px !important;
}

.academy-hero-section .swiper-button-prev:after,
.academy-hero-section .swiper-button-next:after {
  font-size: 48px !important;
}

/************************************************/
/********* MEDIA QUERIES  *********/
/************************************************/
@media only screen and (max-width: 1380px) {
  .academy-hero-section {
    overflow: hidden;
    margin: 0;
  }
}

@media only screen and (max-width: 1330px) {
  .academy-hero-heading {
    font-size: 48px;
  }

  .academy-hero-subheading {
    font-size: 20px;
  }

  .academy-hero-section .swiper-button-prev:after,
  .academy-hero-section .swiper-button-next:after {
    font-size: 36px !important;
  }
}

@media only screen and (max-width: 1080px) {
  .academy-hero-heading {
    font-size: 36px;
  }

  .academy-hero-subheading {
    font-size: 16px;
  }

  .academy-hero-section .swiper-button-prev:after,
  .academy-hero-section .swiper-button-next:after {
    font-size: 24px !important;
  }

  .reg-btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 758px) {
  .academy-hero-heading {
    font-size: 24px;
  }

  .academy-hero-subheading {
    font-size: 14px;
  }

  .academy-hero-section .swiper-button-prev:after,
  .academy-hero-section .swiper-button-next:after {
    font-size: 20px !important;
  }

  .reg-btn {
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .academy-hero-text-box {
    padding: 96px 16px;
  }

  .academy-hero-img {
    height: 390px;
  }
}

@media only screen and (max-width: 508px) {
  .academy-hero-container {
    flex-direction: column;
  }

  .academy-hero-img {
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .academy-hero-heading {
    font-size: 20px;
  }

  .academy-hero-subheading {
    font-size: 12px;
  }

  .academy-hero-section .swiper-button-prev:after,
  .academy-hero-section .swiper-button-next:after {
    font-size: 18px !important;
  }

  .reg-btn {
    font-size: 12px;
    padding: 8px 16px;
  }
}
